__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/


.ipynb_checkpoints/


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*.swo


*.log


*.tmp
*.bak


!README.md
!base_requirements.txt
!Problem.py
!s343800.py
!src/compare.py
